nav{
    background-color: green;
    padding: 10px;
    display: var(30%);
    justify-content: center;
 
    
}

nav a{
    color: white;
    display: var(200px);
    padding: 0.6em;
    
}

header{
    padding: 10px;
    display: flex;
    background-color: rgb(173, 173, 40);
    justify-content: center;
    
}

h2{
    justify-content: center;
}

.section1{
    display: flex;
    justify-content: center;

}

footer{
    width: 300px;
    height: auto;
    justify-content: center;
}

